POSTGRES_USER=connectify
POSTGRES_PASSWORD=connectify
POSTGRES_DB=connectify
POSTGRES_PORT=5432
REDIS_PORT=6379
ADMINER_PORT=8080

DATABASE_URL="postgresql://connectify:connectify@localhost:5432/connectify?schema=public"
REDIS_URL="redis://localhost:6379"
